# Credit to: https://www.geeksforgeeks.org/how-to-deploy-python-wsgi-apps-using-gunicorn-http-server-behind-nginx/
[Unit]
Description=Gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock

[Install]
WantedBy=sockets.target